browserhistory==0.1.2
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
colorama==0.4.3
cryptography==2.9.2
cycler==0.10.0
idna==2.9
kiwisolver==1.2.0
matplotlib==3.2.1
Naked==0.1.31
numpy==1.18.4
opencv-contrib-python==4.2.0.34
opencv-python==4.2.0.34
pandas==1.0.5
Pillow==9.3.0
pyAesCrypt==0.4.3
pycparser==2.20
pycryptodome==3.9.7
PyMySQL==0.9.3
pyparsing==2.4.7
PyQt5==5.15.0
PyQt5-sip==12.8.0
PyQtWebEngine==5.15.0
python-dateutil==2.8.1
pytz==2020.1
pywin32==227
PyYAML==5.3.1
qrcode==6.1
QtAwesome==0.7.2
QtPy==1.9.0
requests==2.23.0
shellescape==3.8.1
six==1.15.0
telegram==0.0.1
urllib3==1.25.9
